.main-header {
  width: 100%;
  .navigation-header {
    .topbar {
      padding: 9px 0;
      background-color: $blue;
      .list-support {
        li:nth-child(2) {
          border-left: 1px solid $text;
        }
        li {
          display: inline-block;
          font-size: 13px;
          padding: 0 5px;

          span {
            font-size: 13px;
            a {
              font-size: 13px;
              color: $text;
            }
          }
        }
      }

      .info-promotion {
        display: flex;
        justify-content: center;
        b {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 13px;
        }
        span {
          font-size: 13px;
        }
      }

      .search-wrapper {
        display: flex;
        justify-content: flex-end;

        form {
          background-color: $white;
          display: flex;
          width: 280px;
          height: 35px;
          border-radius: 5px;
          overflow: hidden;

          input {
            width: 100%;
            padding: 5px 40px 5px 15px;
            border: none;
            outline: none;
          }

          button {
            border: none;
            outline: none;
            background-color: transparent;
            width: 40px;
            height: 35px;

            font-size: 20px;
            line-height: 35px;
            cursor: pointer;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .header-middle {
      border-bottom: 1px solid #e7e7e7;
      // background-color: #ccc;
      .container {
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
          h1 {
            a {
              font-size: 30px;
              color: $text;
              font-weight: 700;
            }
          }
        }

        .header-nav {
          nav {
            .menu_list {
              .menu_list-item {
                position: relative;
                display: inline-block;
                padding: 30px 0;
                margin: 0 10px;
                &:hover .menu_list-small {
                  display: block;
                  top: 100%;
                  visibility: visible;
                  opacity: 1;
                }
                &:hover i {
                  transform: rotate(180deg);
                }
                a {
                  font-size: 13px;
                  color: $text;
                  font-weight: 700;
                  text-transform: uppercase;
                  i {
                    transition: all 0.2s ease-in-out;
                    font-size: 13px;
                  }
                }

                .menu_list-small {
                  position: absolute;
                  border-top: 2px solid #5c5c5c;
                  width: 150px;
                  top: calc(100% + 20px);
                  background-color: #fff;
                  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                  opacity: 0;
                  visibility: hidden;
                  transition: 0.3s linear;
                  a {
                    text-transform: capitalize;
                    padding: 9px 18px;
                    white-space: nowrap;
                    text-align: left;
                    display: block;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }

        .header-info {
          display: flex;
          .account {
            a {
              display: block;
              width: 30px;
              height: 30px;
              font-size: 25px;
              color: $text;
            }
          }
          .cart {
            a {
              position: relative;
              display: block;
              width: 30px;
              height: 30px;
              font-size: 25px;
              color: $text;

              span {
                position: absolute;
                display: block;
                font-size: 13px;
                width: 20px;
                height: 20px;
                top: -20%;
                right: 0;
                background-color: $text;
                color: $white;
                text-align: center;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}
